doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        title UI-Dropdown Demo
        link(href="/style.css", type="text/css", rel="stylesheet")
    body
        div.container
            h1 UI-Dropdown Demo
            h2 Простой UI-Dropdown
            div.block
                div(ui-dropdown).dpd
            h2 Простой UI-Dropdown с фотографиями
            div.block
                div(ui-dropdown photo).dpd
            h2 Мультиселект UI-Dropdown
            div.block
                div(ui-dropdown multiselect).dpd
            h2 Мультиселект UI-Dropdown с фотографиями
            div.block
                div(ui-dropdown photo multiselect button-text="Add").dpd
            h2 Мультиселект UI-Dropdown с фотографиями и серверным поиском
            div.text
                p Domains для тестирования:
                p andrew / durov / thecirrus / iamaleko / imgood / abbsol / alx / andrewnovoselsky / andrewz / avk / sidorkov / apiwoman / me / fire / alex_gran / darkilfa / gb / pr
            div.block
                div(ui-dropdown photo multiselect serversearch not-found-text="Пользователь с таким именем и доменом не найден").dpd
        script(type="text/javascript", src="/index.js")

