*
  box-sizing border-box
  margin 0
  padding 0

body
  font-size 13px
  line-height 20px
  color #000000
  font-family: BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  padding 40px 20px
  min-width 320px

h1
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom 32px

h2
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom 12px

.text
  margin-bottom 12px

.container
  width 100%
  margin auto
  min-height 1100px

.block
  margin-bottom 24px
  width 280px

.dpd
  width 100%
  max-width 352px
  &--error
    border 1px dashed #f98686
    background #fee
    border-radius 2px
    padding 7px 9px
    height 37px

.dpd__selection
  width 100%
  min-height 35px
  padding 0 20px 5px 9px
  border-radius 2px
  border 1px solid #d3d9de
  position relative
  background white
  &:after
    position absolute
    display inline-block
    cursor pointer
    top 11px
    right 5px
    content ''
    width 12px
    height 8px
    background url("https://vk.com/images/dropdown_arrow.png") no-repeat

.dpd__users
  position relative
  background white
  &[disabled='true']
    position relative
    pointer-events none

.dpd__users-list
  color #42648b
  margin-top -2px
  max-height 250px
  overflow auto
  position absolute
  background white
  border-radius 0 0 2px 2px
  top 0
  left 0
  width 100%
  height 0
  z-index 0
  &[disabled='true']
    position relative
    pointer-events none

  &--show
    z-index 100
    height auto
    border solid 1px #d3d9de
  img
    width 34px
    height 34px
    border-radius 50%
    display inline-block
    vertical-align middle
    margin-right 10px
  li[disabled='true']
    pointer-events none
    color #000000
    font-weight normal
    padding 9px

.pd__users-list-item
  display inline-block
  width 100%
  padding 9px
  background white
  min-height 50px
  list-style none
  font-weight 700
  height 0
  border-bottom 1px solid #e7e8ec;
  &:last-child
    border-bottom none
  &--active
    background #e7e8ec;

.dpd__user-label
  display inline-flex
  align-items center
  background: #5181b8
  border-radius 2px
  padding 0 5px
  color white
  border none
  font-size 12px
  position relative
  margin-right 5px
  margin-top 5px
  height 25px

.dpd__user-button
  width 12px
  height 12px
  cursor pointer
  position relative
  margin-left 7px
  background none
  border none
  outline none
  opacity 0.45
  &:hover
    opacity 1
  &:after
    position absolute
    display inline-block
    top 0
    left 0
    content ''
    width 12px
    height 12px
    background url("https://vk.com/images/icons/common.png?6") no-repeat
    background-position: 1px -160px;

.dpd__add-button
  display none
  height 25px
  background-color #edeef0
  vertical-align bottom
  color #55677d
  padding 0 25px 0 5px
  margin-top 5px
  font-size 12px
  position relative
  border-radius 2px
  outline none
  border none
  text-align left
  cursor pointer
  &--show
    display inline-flex
  &:hover
    &:after
      opacity 1
  &:after
    position absolute
    display inline-block
    top 7px
    right 5px
    content ''
    width 12px
    height 12px
    background url("https://vk.com/images/icons/common.png?6") no-repeat
    opacity 0.45

.dpd__input
  display block
  min-height 25px
  margin-top 5px
  color: rgb(119, 119, 119);
  outline none
  border none
  width 100%
  height 100%
  &--disabled
    display none


