doctype html
html
    head
        title INIT
        link(href="./style.css", type="text/css", rel="stylesheet")
        script(type="text/javascript", src="./index.js", defer)
    body
        div(ui-photo ui-multiselect).ui-dropdown
