doctype html
html
    head
        title UI-Dropdown Demo
        link(href="./style.css", type="text/css", rel="stylesheet")
        script(type="text/javascript", src="./index.js", defer)
    body
        div.container
            h1 UI-Dropdown Demo
            h2 При ошибке загрузки данных
            div.block
                div(ui-dropdown).dpd
            h2 Простой UI-Dropdown
            div.block
                div(ui-dropdown).dpd
            h2 Простой UI-Dropdown с фотографиями
            div.block
                div(ui-dropdown photo).dpd
            h2 Мультиселект UI-Dropdown
            div.block
                div(ui-dropdown multiselect).dpd
            h2 Мультиселект UI-Dropdown с фотографиями
            div.block
                div(ui-dropdown photo multiselect placeholder="Введите имя" button-text="Add").dpd
            h2 Мультиселект UI-Dropdown с фотографиями и серверным поиском. In progress...
            div.block
                div(ui-dropdown photo multiselect placeholder="Введите имя или домен" not-found-text="Пользователь с таким именем и доменом не найден").dpd

